@import '../../../theme/mainTheme';

.inputKeypad {
  width: 100%;
  text-align: right;
  font-size: 16px;
  background: transparent;
  overflow: hidden;
  caret-color: $primaryColor;
  border: none;
  color: white;
}
.inputKeypad:focus {
  outline: none;
}
