@import '../../../theme/mainTheme';

.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.price-number {
  font-size: 68px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  // transform-origin: right;
}

.price-prefix {
  font-size: 14px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
  flex-shrink: 0;
}
