.button-nav,
.button-nav a {
  align-self: end;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;

  background: transparent;
  text-decoration: none;
  text-align: center;

  text-transform: uppercase;
  color: #545c62;
}

.button-nav-underline {
  border-radius: 5px;
  height: 3px;
  box-shadow: 0 5px 0 0 #565e63;
  margin-bottom: 10px;
}

.button-nav.active {
  a {
    color: #fff;
    font-size: 12px;
  }

  .button-nav-underline {
    box-shadow: 0 5px 0 0 #9eacb7;
  }
}
